<div class="column is-2-desktop">
    <div class="message is-primary">
        <div class="message-header">
            <p>Site stats</p>
        </div>
        <div class="message-body">
            <ul>
                <li>
                    Blogs/Articles: <strong><%=data.post_count%></strong>
                </li>
                <li>
                    Authors: <strong><%=data.author_count%></strong> 
                </li>
            </ul>
        </div>
    </div>
  </div>