<div class="container">
    <div class="columns">
      <div class="column is-12 categories-wrapper">


        <div  class="category express-cat">
          <figure>
            <div class="img" >
            </div>
            <figcaption class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
              <p class="action-tag">Express JS</p>
              <p class="category-title">Modern Web App Framework</p>
              <div class="icons is-flex is-justify-content-center is-align-items-center ">
                <span class="icon">
                  <i class="fas fa-book">17</i>
                </span>

                <span class="icon">
                  <i class="fas fa-heart">150</i>
                </span>
              </div>
            </figcaption>
          </figure>
        </div>

        <div  class="category react-cat">
          <figure>
            <div class="img" >
            </div>
            <figcaption class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
              <p class="action-tag">React JS</p>
              <p class="category-title">Powerful <br> UI Library</p> 
              <div class="icons is-flex is-justify-content-center is-align-items-center ">
                <span class="icon">
                  <i class="fas fa-book">17</i>
                </span>

                <span class="icon">
                  <i class="fas fa-heart">150</i>
                </span>
              </div>
            </figcaption>
          </figure>
        </div>

        <div  class="category django-cat">
          <figure>
            <div class="img" >
            </div>
            <figcaption class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
              <p class="action-tag">Django</p>
              <p class="category-title">Python Web Framework</p>
              <div class="icons is-flex is-justify-content-center is-align-items-center ">
                <span class="icon">
                  <i class="fas fa-book">17</i>
                </span>

                <span class="icon">
                  <i class="fas fa-heart">150</i>
                </span>
              </div>
            </figcaption>
          </figure>
        </div>

        
        <div  class="category mongo-cat">
          <figure>
            <div class="img" >
            </div>
            <figcaption class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
              <p class="action-tag">Django</p>
              <p class="category-title">Python Web Framework</p>
              <div class="icons is-flex is-justify-content-center is-align-items-center ">
                <span class="icon">
                  <i class="fas fa-book">17</i>
                </span>

                <span class="icon">
                  <i class="fas fa-heart">150</i>
                </span>
              </div>
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
  </div>